<header>
    <nav>
        @if (isPage()) {
        <a [routerLink]="['/']" class="nav-logo" [attr.data-home-section]="homeBackSection()"
            (click)="goHome($event, homeBackSection())">{{ header.logo }}</a>
        } @else {
        <a (click)="scrollTo('main')" class="nav-logo">{{ header.logo }}</a>
        }

        <button class="hamburger" type="button" aria-label="Toggle menu" aria-controls="mobile-menu" [attr.aria-expanded]="menuOpen()"
            (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul class="nav-links" aria-label="Primary site navigation">
            @if (isPage()) {
            <li><a [routerLink]="['/']" class="nav-back" [attr.data-home-section]="homeBackSection()"
                (click)="goHome($event, homeBackSection())">{{ header.backToHome }}</a></li>
            } @else {
            <li><a type="button" (click)="scrollTo('about')">{{ header.about }}</a></li>
            <li><a type="button" (click)="scrollTo('listen')">{{ header.listen }}</a></li>
            <li><a type="button" (click)="scrollTo('characters')">{{ header.characters }}</a></li>
            <li><a type="button" (click)="scrollTo('quotes')">{{ header.quotes }}</a></li>
            <li><a type="button" (click)="scrollTo('map')">{{ header.city }}</a></li>
            <li><a type="button" (click)="scrollTo('author')">{{ header.author }}</a></li>
            <li><a type="button" (click)="scrollTo('connect')">{{ header.connect }}</a></li>
            }
        </ul>

        @if (menuOpen()) {
        <div class="mobile-menu" id="mobile-menu">
            <ul aria-label="Mobile navigation">
                @if (isPage()) {
                <li><a [routerLink]="['/']" [attr.data-home-section]="homeBackSection()"
                        (click)="goHome($event, homeBackSection())">{{ header.backToHome }}</a></li>
                } @else {
                <li><a type="button" (click)="scrollTo('about')">{{ header.about }}</a></li>
                <li><a type="button" (click)="scrollTo('listen')">{{ header.listen }}</a></li>
                <li><a type="button" (click)="scrollTo('characters')">{{ header.characters }}</a></li>
                <li><a type="button" (click)="scrollTo('quotes')">{{ header.quotes }}</a></li>
                <li><a type="button" (click)="scrollTo('map')">{{ header.city }}</a></li>
                <li><a type="button" (click)="scrollTo('author')">{{ header.author }}</a></li>
                <li><a type="button" (click)="scrollTo('connect')">{{ header.connect }}</a></li>
                }
            </ul>
        </div>
        }
    </nav>
</header>