<div class="section-navigation">
    <button type="button" class="nav-button prev" aria-label="{{ previousSection()?.label || 'Previous section' }}" title="{{ previousSection()?.label || 'Previous section' }}"
        [disabled]="!canScrollPrevious()" (click)="scrollToPrevious()">
      <span class="sr-only">Previous section</span>
    </button>

    <div class="section-indicator">
        <span title="{{ currentLabel() }}"></span>
    </div>

    <button type="button" class="nav-button next"  aria-label="{{ nextSection()?.label || 'Next section' }}" title="{{ nextSection()?.label || 'Next section' }}" [disabled]="!canScrollNext()"
        (click)="scrollToNext()">
      <span class="sr-only">Next section</span>
    </button>
</div>