<section id="quotes" class="quotes-section fade-up-section" appScrollReveal="is-visible">
  <div class="quotes-inner">
    <p class="section-label">From the Prequel</p>
    <h2 class="section-title">Words from the Dark</h2>
    <div class="ornament"><div class="ornament-line"></div><div class="ornament-diamond"></div><div class="ornament-line"></div></div>
      <blockquote class="pull-quote">
        <p>&ldquo;You presume the One True is asking.&rdquo;</p>
        <cite>&mdash; The Entity, to Dion</cite>
      </blockquote>
      <blockquote class="pull-quote">
        <p>&ldquo;Because it is the pinnacle, your crowning monument to progress. The most technologically advanced city of your age. Where ambition walks hand in hand with hubris. And progress breeds corruption. Corruption blossoms into indulgence. And indulgence sharpens hunger into obsession, polishes desire until it gleams. The hellspawn, Dion&hellip; they do not feed on blood or flesh. They feed on that refinement, on cravings shaped by civilization itself.&rdquo;</p>
        <cite>&mdash; The Entity, on Newport Maeve</cite>
      </blockquote>
      <blockquote class="pull-quote">
        <p>&ldquo;Listen, Protector. It will not happen. I have a strict protocol for who can be what in my society. If you find otherwise, you can seek me out again&mdash;and then we can have any kind of conversation you wish.&rdquo;</p>
        <cite>&mdash; Dion, to the Protector</cite>
      </blockquote>
  </div>
</section>