<div [class.share-actions]="true" [ngClass]="{'lightbox-share-actions':  isLightbox}">
  <button type="button" class="share-action" aria-label="Facebook" (click)="shareOn('facebook')">
    <span class="social-icon" [innerHTML]="facebookIcon"></span>
  </button>
  <button type="button" class="share-action" aria-label="Share on X" (click)="shareOn('x')">
    <span class="social-icon" [innerHTML]="xIcon"></span>
  </button>
  <button type="button" class="share-action" aria-label="Share on Instagram" (click)="shareOn('instagram')">
    <span class="social-icon" [innerHTML]="instagramIcon"></span>
  </button>
  <button type="button" class="share-action" aria-label="Share on Pinterest" (click)="shareOn('pinterest')">
    <span class="social-icon" [innerHTML]="pinterestIcon"></span>
  </button>
</div>
